#blok1_cichosz, #blok2_cichosz, #blok3_cichosz
{
	width:607px;
	background-color:green;
}

#blok1_cichosz:hover
{
	font-size:21mm;
	background-color:red;
}

#blok2_cichosz:hover
{
	font-size:21mm;
	background-color:gold;
}

#blok3_cichosz:hover
{
	font-size:21mm;
	background-color:yellow;
}


/*
hover - pozwala na to aby element miał inne style gdy sie na niego najedzie
Mateusz Cichosz
*/
		